html{background-color:rgb(91, 91, 138);}

.alaa{ font-size: 50px;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    color: red;
    margin-top: 3%;
}
.h1{font-size:xx-large ;}